/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/05/2018, 22:12:44
    Author     : wilia
*/

body {
    background: black;
    color: white;
    font-family: "Arial", sans, serif;
}

